<h1 class="page-header text-center">Pomodoro Timer</h1>
<input class="form-control" ng-model="search" placeholder="Search..."/>
<timer interval="1000">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
<ul>
	<li ng-repeat="song in vm.playlist track by $index | searchFilter: search">
		<img style="height: 200px" src={{song.img}}/><br><br>
		{{song.title}} - {{song.artist}} ({{song.album}})
		<button ng-click="vm.openEditModal($index)">Edit</button>
		<button ng-click="vm.deleteSong(song._id)">Delete</button>
	</li>
</ul>
<button ng-click="vm.openCreateModal()">Add Song</button>